$info-color: white;
$link-color-hover: white;
$primary-color: white;
// $background-color: #a3c7ff;

body {
  background-color: #a3c7ff;
  font-family: 'Nunito', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
}

h1 {
  font-family: 'Nunito', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h2 {
  font-family: 'Nunito', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.masthead {
  background-color: #4b6cf0;
}

.greedy-nav {
  background-color: #4b6cf0;
}

.greedy-nav a {
  color: white;
}

.greedy-nav a:hover {
  color: white;
}

.greedy-nav .visible-links a:before {
  background-color: white;
}

.page__footer {
  background-color: #4b6cf0;
  color: white;
}

.site-title {
  font-size: 23px;
}

.masthead__inner-wrap {
  background-color: #4b6cf0
}

.withPageMarginWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.withPageMargin {
  display: block;
  max-width: 1400px;
  padding-top: 10px;
  width:75%;
}
/* Why do i need important here */
/*
a:hover {
  color: white !important;
  outline: 0;
    color: white !important;
}

a:before {
  background:
}
*/
