$info-color: white;
$link-color-hover: white;
$primary-color: white;
// $background-color: #a3c7ff;

body {
  background-color: #a3c7ff;
  font-family: 'Nunito', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
}

h1 {
  font-family: 'Nunito', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h2 {
  font-family: 'Nunito', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.masthead {
  background-color: #4b6cf0;
}

.greedy-nav {
  background-color: #4b6cf0;
}

.greedy-nav a {
  color: white;
}

.greedy-nav a:hover {
  color: white;
}

.greedy-nav .visible-links a:before {
  background-color: white;
}

.page__footer {
  background-color: #4b6cf0;
  color: white;
}

.site-title {
  font-size: 23px;
}

.masthead__inner-wrap {
  background-color: #4b6cf0
}

.withPageMarginWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.withPageMargin {
  display: block;
  max-width: 1400px;
  padding-top: 10px;
  width:75%;
}

.video_wrapper {
position: relative;
padding-bottom: 56.25%; /* 16:9, for an aspect ratio of 1:1 change to this value to 100% */
}

iframe{
position: absolute;
top: 0;
left: 0;
width: 100%;
height:100%;
}

.collapsible {
  background-color: #4b6cf0;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  font-weight:bold
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.collapsible:hover {
  background-color: #76a6f8;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  width:80%;
}

.collapsible:after {
  content: '\25BC'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: black;
  float: left;
  margin-right: 15px;
}

.active:after {
  content: "\25B2"; /* Unicode character for "minus" sign (-) */
}

/* Why do i need important here */
/*
a:hover {
  color: white !important;
  outline: 0;
    color: white !important;
}

a:before {
  background:
}
*/
